#BlogDetail {
  margin-top: 8vh;
  width: 100vw;
  min-height: 92vh;
  padding: 7vh 25vw;
  p {
    line-height: 2.5rem;
  }
  .title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 5vh;
  }
}
