#VideoDetail {
  margin-top: 8vh;
  width: 100vw;
  height: 92vh;
  display: flex;
  .left-pane {
    padding: 1% 1%;
    width: 70%;
    height: 100%;
    .video-pane {
      position: relative;
      width: 100%;
      height: 91%;
      #video {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: black;
        position: absolute;
      }
      .result-canvas {
        width: 100%;
        height: 90%;
        position: absolute;
      }
    }
    .progressbar {
      margin-top: 2%;
      padding: 0;
      width: 100%;
      position: relative;
      background-color: #13599f;
      height: 3px;
      li {
        cursor: pointer;
        top: -6px;
        position: absolute;
        float: left;
        list-style: none;
        text-align: center;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        background-color: #13599f;
      }
      p {
        position: absolute;
        top: 20px;
      }
    }
  }
  .right-pane {
    overflow-y: scroll;
    padding: 0 1%;
    width: 30%;
    height: 100%;
    button {
      padding: 10px 15px;
      font-weight: 500;
      background-color: #13599f;
      color: white;
      display: block;
      margin: 2vh auto;
      border: 0;
      border-radius: 5px;
    }
    .title {
      margin-bottom: 0.5rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .small-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    .small-text {
      font-size: 1rem;
      margin-bottom: 0;
    }
    .dropzone {
      margin-top: 2vh;
      width: 100%;
      height: 400px;
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-align: center;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
      color: #cccccc;
      border: 2px dashed #009578;
      .thumb {
        border-radius: 10px;
        width: 80%;
        height: 80%;
      }
    }
    .alert {
      margin-top: 2vh;
    }
  }
}
