#Map {
  margin-top: 8vh;
  .custom-card {
    padding: 1vh 0 1vh 0;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    img {
      border-radius: 10px;
      width: 40%;
      height: 30vh;
      object-fit: contain;
    }
  }
  .greenMarker {
    background-color: #46e166;
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1.5rem;
    top: -1.5rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #ffffff;
  }

  .textMarker {
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1rem;
    top: -1rem;
    position: relative;
    font-weight: bold;
  }
  #mapContainer {
    height: 100%;
    width: 100%;
  }
  #map {
  }
  .title {
    font-size: 32px;
    line-height: 36px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    padding: 3vh 0 1vh 0;
  }
  .input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 3vh 0;
    .input {
      width: 77%;
      display: flex;
      input {
        width: 80%;
        height: 50px;
        border: 1px solid rgb(139, 139, 139);

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 0;
        padding-left: 2%;
        &:focus {
          outline: none;
        }
      }
      .btn-search {
        border: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: white;
        width: 20%;
        height: 50px;
        background-color: #0d6efd;
      }
    }
    .btn-img {
        border: 0;
        border-radius: 10px;
        color: white;
        width: 20%;
        height: 50px;
        background-color: #d7000f;
      }
  }
}
