#User {
  margin-top: 8vh;
  width: 100vw;
  height: 92vh;
  display: flex;
  background-color: #f9f9f9;
  .left-pane {
    width: 30%;
    height: 100%;
    padding: 2vh 2%;
    .menu {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(172, 172, 172, 0.2);
      .list-item {
        margin: 0;
        padding: 1.8vh 0 1.8vh 1vw;
        cursor: pointer;
        border: 0;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-weight: 300;
          font-size: 18px;
          margin-bottom: 0;
        }
        .arrow {
          font-size: 1.5rem;
          color: gray;
        }
        &:hover {
          background-color: #f2f2f2;
        }
      }
      .selected {
        background-color: #f2f2f2;
      }
    }
  }
  .right-pane {
    overflow-y: scroll;
    width: 70%;
    height: 100%;
    padding: 2vh 2vw 2vh 2vw;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      .custom-card {
        width: fit-content;
        height: fit-content;
        background-color: white;
        border-radius: 10px;
        border: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px 10px;
        img {
          width: 100%;
        }
        .title {
          font-weight: 500;
          font-size: 1.1rem;
        }
        .group-button {
          button {
            width: 30%;
          }
        }
      }
    }
  }
  .title {
    font-weight: 600;
    font-size: 32px;
  }
  .modal {
    display: block;
    margin: 15vh 30vw;
    width: 40vw;
    height: fit-content;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(172, 172, 172, 0.2);
    transition: 0.2s;
    .title {
      text-align: center;
    }
    .label {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .label-checkbox {
      font-weight: 500;
      margin-bottom: 0;
      margin-left: 10px;
    }
    input[type="text"] {
      width: 100%;
      margin-bottom: 0.5rem;
      border-radius: 5px;
      padding: 0.5rem;
      outline: none;
      border: 1.8px solid #eee;
      background-color: #eee;
      &::placeholder {
        font-weight: 400;
      }
      &:focus {
        background-color: white;
      }
    }
    input[type="checkbox"] {
      padding: 0%;
      width: fit-content;
    }
    .footer {
      padding: 5% 0 0 0;
      display: flex;
      justify-content: space-around;
    }
    button {
      border: 0;
      border-radius: 10px;
      width: 25%;
      height: 50px;
      background-color: #00aefd;
      color: white;
      font-weight: 500;
    }
  }
  .modal-hide {
    display: none;
  }
}
