#User{
    margin-top: 8vh;
    .title{
        font-weight: 600;
        font-size: 32px;
    }
    .custom-card {
        margin: 1vh 0 1vh 0;
        border: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        display: flex;
        padding: 1vh 0.5vw 1vh 0.5vw;
        border-radius: 10px;
        img{
            width: 30%;
            height: 10vh;
            object-fit: contain;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
      }
      .list-item{
          margin: 0;
          padding: 1.8vh 0 1.8vh 1vw;
          font-weight: 300;
          font-size: 18px;
          color: black;
          cursor: pointer;
          border: 0;
          border-radius: 10px;
          &:hover{
            background-color: #B9DBE2;
          }
      }
}